-
  const nav = [
    {"name": "Главная", "link": "/example/", "active": false},
    {"name": "Типографика", "link": "typography.html", "active": false},
    {"name": "Сообщения", "link": "message.html", "active": false},
    {"name": "Формы", "link": "form.html", "active": false},
    {"name": "Иконки", "link": "icon.html", "active": false},
    {"name": "Навигация", "link": "navigation.html", "active": false},
    {"name": "Слайдер", "link": "slider.html", "active": false}
  ];
  const breadcrumbs = [
    {"name": "Главная", "url": "/example/"},
    {"name": "Формы", "url": "form.html"},
    {"name": "Подтема"}
  ];
