extends layout.pug

block content
	h1 Иконки

	span.icon-svg.svg-wordpress
	span.svg-font.svg-font-drupal(style="color:red;font-size:60px;")

	h2 Модуль .icon - png icon
	div
		span.icon.icon-Char
		| .icon.icon-Char
	div
		span.icon.icon-Mail
		| .icon.icon-Mail
	div
		span.icon.icon-RU
		| .icon.icon-RU
	div
		span.icon.icon-US
		| .icon.icon-US

	h2 Модуль .fa - font-awesome
	div
		i.fa.fa-vk
		| .fa.fa-vk
	div.
		#[i.fa.fa-vk].fa.fa-vk

	h2 Модуль .iconfont - svg icon to font
	div
		span.iconfont.iconfont-joomla
		| .iconfont.iconfont-joomla
	div
		span.iconfont.iconfont-drupal
		| .iconfont.iconfont-drupal

	h2 Модуль .iconsvg - svg sprite
	div
		div(style="display:none")
			include ../../img/sprite/symbol/svg/sprite.symbol.svg
		p
			+iconsvg('js', 't-large')
			| svg.iconsvg.iconsvg-js.t-large > use#js
		p
			+iconsvg('js')
			| svg.iconsvg.iconsvg-js > use#js
		p
			+iconsvg('js', 't-small')
			| svg.iconsvg.iconsvg-js.t-small > use#js
	h3 Вставка изображения из svg спрайта (inline или url)
	p
		+svg('', 'js')(width="100" height="100" fill="#f9cc46")
		| svg(width="100", height="100", fill="#f9cc46")
	p
		+svg('', 'css3')(style="width:50px;height:50px;fill:#379BD6;")
		| svg(style="width:50px;height:50px;fill:#379BD6;")
	style
		| .svgimg {width:50px;height:50px;fill:#E44D25;}
	p
		+svg('', 'html')(class="svgimg")
		| svg(class="svgimg")

	h2 Модуль CSS Arrows
	div
		p
			| .arrow.is-right:
			i.arrow.is-right
		p
			| .arrow.is-left:
			i.arrow.is-left
		p
			| .arrow.is-up:
			i.arrow.is-up
		p
			| .arrow.is-down:
			i.arrow.is-down