/*!
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Default Theme
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*!-----------------------------------------------------------------
  Подключение шрифтов
 -----------------------------------------------------------------*/
fontFace(SegoeUIBold)
fontFace(SegoeUIItalic)
fontFace(SegoeUILight)
fontFace(SegoeUIRegular)
fontFace(SegoeUISemiBold)
/*-----------------------------------------------------------------
  Переменные. Ипользуются theme, modules и state
 -----------------------------------------------------------------*/
// Grid
rupture.scale = 0 320px 480px 768px 992px 1170px 1440px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

$theme = {}
$theme[default] = {
	name: '.t-default',
	font: {
		size: 16,
		lineHeight: (24 / 16)em,
		color: #000,
		family: "Times New Roman"\, "Times CY"\, "Nimbus Roman No9 L"\, serif
	},
	link: {
		color: #337ab7,
		colorHover: #23527c,
		colorFocus: #23527c
	},
	pageBg: {
		body: transparent,
		header: rgba(51, 153, 204, 0.5),
		menu: rgba(10,31,41,0.8),
		breadcrumb: #eceeef,
		footer: #eceeef
	},
	border: {
		radius: .25rem,
		color: #eee
	},
	isActive: {
		bgColor: #0275d8,
		color: #fff
	},
	isDanger: {
		bgColor: #f2dede,
		borderColor: #a94442,
		// borderColor: #f44336,
		color: #a94442,
		colorHover: #a94442
	},
	isSuccess: {
		bgColor: #dff0d8,
		borderColor: #3c763d,
		color: #3c763d,
		colorHover: #3c763d
	},
	isWarning: {
		bgColor: #fcf8e3,
		// borderColor: #f0ad4e,
		borderColor: #ff9800,
		color: #8a6d3b,
		colorHover: #8a6d3b
	},
	isInfo: {
		bgColor: #d9edf7,
		borderColor: #31708f,
		color: #31708f,
		colorHover: #31708f
	}
}
// Name theme
themeDefault = '.t-default'
themeDefaultBazeFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
themeDefaultBazeFontSize = 16
themeDefaultBazeFontLineHeight = (24 / themeDefaultBazeFontSize)em
themeDefaultBazeFontColor = #000
// Link
themeDefaultLinkColor = #337ab7
themeDefaultLinkColorHover = #23527c
themeDefaultLinkColorFocus = themeDefaultLinkColorHover
// Background page
themeDefaultBgHeader = rgba(51, 153, 204, 0.5)
// themeDefaultBgFooter = themeDefaultBgHeader
themeDefaultBgFooter = #EEE
// Border-radius element
themeDefaultBorderRadius = .25rem
// State
themeDefaultIsActiveBg = #0275d8
themeDefaultIsActiveColor = #fff
/*!-----------------------------------------------------------------
  Типографика
 -----------------------------------------------------------------*/
body
body{$theme.default.name}
	font 100%/$theme.default.font.lineHeight $theme.default.font.family
	color $theme.default.font.color
h1, h2, h3, h4, h5, h6
{$theme.default.name} h1, {$theme.default.name} h2, {$theme.default.name} h3, {$theme.default.name} h4, {$theme.default.name} h5, {$theme.default.name} h6
	font-weight 500
	line-height 1.1
h1
{$theme.default.name} h1
	font-size 36
h2
{$theme.default.name} h2
	font-size 30
h3
{$theme.default.name} h3
	font-size 24
h4
{$theme.default.name} h4
	font-size 18
h5
{$theme.default.name} h5
	font-size 14
h6
{$theme.default.name} h6
	font-size 12
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small{
	font-weight 400
	line-height 1
	color #777
}
p
{$theme.default.name} p
	font-size 16
	margin 0 0 10px
	line-height 1.428
ul
	font-size 16
	padding-left: $pl = 30px
	padding-inline-start: $pl
ol
	padding-left: $pl = 18px
	padding-inline-start: $pl
	counter-reset: item
	li
		display: block
		&:before
			content: counters(item, ".") "."
			counter-increment: item
			position: relative
			left: -5px
abbr[title]
{$theme.default.name} abbr[title]
	font-size 14
	cursor help
	border-bottom 1px dotted #777
	text-decoration none
address
{$theme.default.name} address
	font-size 14
	font-style normal
.small, {$theme.default.name} .small,
small, {$theme.default.name} small
	font-size 85%
// html[lang="ru"] q
// 	quotes: '«' '»'
/*!-----------------------------------------------------------------
  Ссылки
 -----------------------------------------------------------------*/
a
	color $theme.default.link.color
	text-decoration none
	&:focus
		color $theme.default.link.colorFocus
		text-decoration: underline
	&:hover
		color $theme.default.link.colorHover
		text-decoration: underline
/*!-----------------------------------------------------------------
  Таблицы
 -----------------------------------------------------------------*/
table
	background-color transparent
	margin-bottom 20px
	border-spacing 0
	border-collapse collapse
	width: 100%
	max-width: 100%
	+below(m)
		display: block
		overflow-x: auto
td, th
	padding .2rem 0.75rem
	border 1px solid #eceeef
th
	text-align left
/*!-----------------------------------------------------------------
  Адаптивные картинки
 -----------------------------------------------------------------*/
img
	max-width 100%
	height auto
figcaption
	font-size 14
	text-align center
	font-style: italic
/*!-----------------------------------------------------------------
  Фон страниц layout.pug
 -----------------------------------------------------------------*/
header
header{$theme.default.name}
{$theme.default.name} header
	background $theme.default.pageBg.header
footer
footer{$theme.default.name}
{$theme.default.name} footer
	background $theme.default.pageBg.footer