/*!
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Theme
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*!-----------------------------------------------------------------
  Подключение шрифтов
 -----------------------------------------------------------------*/
fontFace(SegoeUIBold)
fontFace(SegoeUIItalic)
fontFace(SegoeUILight)
fontFace(SegoeUIRegular)
fontFace(SegoeUISemiBold)
/*-----------------------------------------------------------------
	Переменные. Ипользуются theme, modules и state
 -----------------------------------------------------------------*/
$colorWhite = #fff
$colorBlack = #000
$colorGray = #eceeef
$borderRadius = .25em
$isSuccess = {
	bgColor: #4CAF50,
	bgColorHover: #46a049,
	borderColor: #3c763d,
	color: #001e00
}
$isInfo = {
	bgColor: #2196F3,
	bgColorHover: #0b7dda,
	borderColor: #1053a8,
	color: #003351
}
$isWarning = {
	bgColor: #ff9800,
	bgColorHover: #ec9413,
	borderColor: #b5520e,
	color: #572d04
}
$isDanger = {
	bgColor: #f44336,
	bgColorHover: #da190b,
	borderColor: #a94442,
	color: #4a1716
}
$isActive = {
	bgColor: #0275d8,
	bgColorHover: #01549b
}
$isSecondary = {
	bgColor: #fff,
	bgColorHover: #e6e6e6,
	color: #292b2c,
	borderColor: #ccc
}
/*!-----------------------------------------------------------------
  Типографика
 -----------------------------------------------------------------*/
html
	font-size 16px
body
	font-family: 'Raleway'\, sans-serif
	color #000
	line-height: 1.5em
h1, h2, h3, h4, h5, h6
	font-weight 500
	line-height 1.1
h1
	font-size 2.25rem
h2
	font-size 1.875rem
h3
	font-size 1.5rem
h4
	font-size 1.125rem
h5
	font-size 0.875rem
h6
	font-size 0.75rem
h1 .is-small, h2 .is-small, h3 .is-small, h4 .is-small, h5 .is-small, h6 .issmall-
	font-weight 400
	font-size: 65%;
	line-height 1
	color #777
small
	font-size 85%
p
	font-size 1rem
	margin 0 0 10px
	line-height 1.428
ul
	font-size 1rem
	padding-left: $pl = 30px
	padding-inline-start: $pl
ol
	padding-left: $pl = 18px
	padding-inline-start: $pl
	counter-reset: item
	li
		display: block
		&:before
			content: counters(item, ".") "."
			counter-increment: item
			position: relative
			left: -5px
abbr[title]
	font-size 0.875rem
	cursor help
	border-bottom 1px dotted #777
	text-decoration none
address
	font-size 0.875rem
	font-style normal
// html[lang="ru"] q
// 	quotes: '«' '»'
/*!-----------------------------------------------------------------
  Ссылки
 -----------------------------------------------------------------*/
a
	color #337ab7
	text-decoration none
	&:focus
		color darken(@color, 35%)
		text-decoration: underline
	&:hover
		color darken(@color, 35%)
		text-decoration: underline
/*!-----------------------------------------------------------------
  Таблицы
 -----------------------------------------------------------------*/
table
	background-color transparent
	margin-bottom 20px
	border-spacing 0
	border-collapse collapse
	width: 100%
	max-width: 100%
	+mema(sizeMedium)
		display: block
		overflow-x: auto
td, th
	padding .2rem 0.75rem
	border 1px solid #eceeef
th
	text-align left
/*!-----------------------------------------------------------------
  Адаптивные картинки
 -----------------------------------------------------------------*/
img
	max-width 100%
	height auto
figcaption
	font-size 14
	text-align center
	font-style: italic