//- Вставка символов
//- mixin s(symbol)
//- 	case symbol
//- 		when '_': &nbsp;
//- 		when 'copy': &copy;
//- 		when 'reg': &reg;
//- 		when 'tm': &trade;
//- 		when '-': &ndash;
//- 		when '--': &mdash;
//- 		when '--': &mdash;
//- 		when '<<': &laquo;
//- 		when '>>': &raquo;
//- 		when '<-': &larr;
//- 		when '->': &rarr;
//- 		when 't->': &uarr;
//- 		when 'b->': &darr;
