-
  const nav = [
    {"name": "Главная", "link": "/", "active": false},
    {"name": "Типографика", "link": "typography.html", "active": false},
    {"name": "Сообщения", "link": "message.html", "active": false},
    {"name": "Формы", "link": "form.html", "active": false},
    {"name": "Иконки", "link": "icon.html", "active": false},
    {"name": "Навигация", "link": "navigation.html", "active": false},
    {"name": "Слайдер", "link": "slider.html", "active": false},
    {"name": "404", "link": "404.html", "active": false},
  ];
  const breadcrumbs = [
    {"name": "Главная", "url": "/"},
    {"name": "Формы", "url": "form.html"},
    {"name": "Подтема"}
  ];
