extends layout.pug

block title
	title SMACSS

block content
	h1 SMACSS — это стиль организации кода!
	//- img(src="img/gulp.png", alt="", width="200")
	img(src="img/book-covers.png", alt="", width="200")
	p SMACSS — это стиль организации кода!
	p Стили делятся на 5 категорий:
	ul
		li Темы
		li Состояние
		li Базовые стили
		li Модули
		li Правила компановки
	ul
		li Base rules — базовые стили. Это стили основных элементов сайта — body, input, button, ul, ol и т.п. В этой секции используются в основном селекторы тэгов и атрибутов, классы — в исключительных случаях (например, если у вас стилизованные JavaScript’ом селекты);
		li Layout rules — стили макета. Здесь находятся стили глобальных элементов размеры шапки, футера, сайдбара и т.п. Джонатан предлагает использовать здесь id в селекторах, так как эти элементы не будут встречаться более 1 раза на странице. Однако автор статьи считает это плохой практикой (каждый раз, когда в стилях появляется id селектор, где-то в мире грустит котенок). Используйте классы и будет вам счастье.
		li Modules rules — стили модулей, то есть блоков, которые могут использоваться несколько раз на одной странице. Для классов модулей не рекомендуется использовать id и селекторы тэгов (для многократного использования и независимости от контекста соответственно).
		li State rules — стили состояния. В этом разделе прописываются различные состояния модулей и скелета сайта. Это единственный раздел, в котором допустимо использование ключевого слова «!important».
		li Theme rules — оформление. Здесь описываются стили оформлений, которые со временем, возможно, нужно будет заменить (так удобно делать, например, новогоднее оформление; для html-тем, выставленных на продажу такие стили позволяют переключать цветовую гамму и т.п.).
	.wrap_icon
		span.icon.icon-Char
		span.icon-svg.svg-wordpress
		span.svg-font.svg-font-drupal(style="color:red;font-size:60px;")

//- block append footer
//- 	p text footer 2