extends layout.pug

block title
	title SMACSS

block content
	h1 HOME
	.content
		.col
			img(src="img/gulp.png", alt="", width="200")
		.col
			img(src="img/book-covers.png", alt="", width="200")
	.wrap_icon
		span.icon.icon-Char
		span.icon-svg.svg-wordpress
		span.svg-font.svg-font-drupal(style="color:red;font-size:60px;")

//- block append footer
//- 	p text footer 2