extends layout.pug

block content
	h1 Навигация по сайту

	h3 Модуль предупреждения

	.alert
		span.fa.fa-close
		| .alert
	.alert.is-danger
		span.fa.fa-close
		| .alert.alert-is-danger
	.alert.is-success
		span.fa.fa-close
		| .alert.is-success
	.alert.is-warning
		span.fa.fa-close
		| .alert.is-warning
	.alert.is-info
		span.fa.fa-close
		| .alert.is-info

	h3 Модуль выноска

	.callout
		h4 .callout
		p Случайный текст выноски.
	.callout.is-danger
		h4 .callout.is-danger
		p Случайный текст выноски.
	.callout.is-success
		h4 .callout.is-success
		p Случайный текст выноски.
	.callout.is-warning
		h4 .callout.is-warning
		p Случайный текст выноски.
	.callout.is-info
		h4 .callout.is-info
		p Случайный текст выноски.

	h3 Модуль тултип

	p Lorem <span class="tooltip" data-title="text tooltip">ipsum dolor</span> sit amet, consectetur adipisicing elit. Facilis voluptate, facere autem nam! Quia tempore possimus fugiat maxime earum, nesciunt harum consectetur ea quisquam? Nisi reiciendis consequuntur <span class="tooltip" data-title="текст тултипа">facilis</span> ullam nihil quod recusandae voluptatum esse excepturi tenetur, cum aliquam, sequi eligendi eveniet est voluptatem sint rem fugiat modi quae, adipisci ducimus suscipit repudiandae.

	h3 Модуль прогресс

	.progress
		.progress-bar(style="width:0")
	br
	.progress
		.progress-bar(style="width:25%") 25%
	br
	.progress
		.progress-bar(style="width:50%")
	br
	.progress
		.progress-bar(style="width:100%")

