extends layout.pug

block content
	h1 Навигация по сайту

	h3 Модуль предупреждения

	.alert
		span.fa.fa-close
		| .alert
	.alert.is-danger
		span.fa.fa-close
		| .alert.alert-is-danger
	.alert.is-success
		span.fa.fa-close
		| .alert.is-success
	.alert.is-warning
		span.fa.fa-close
		| .alert.is-warning
	.alert.is-info
		span.fa.fa-close
		| .alert.is-info

	h3 Модуль выноска

	.callout
		h4 .callout
		p Случайный текст выноски.
	.callout.is-danger
		h4 .callout.is-danger
		p Случайный текст выноски.
	.callout.is-success
		h4 .callout.is-success
		p Случайный текст выноски.
	.callout.is-warning
		h4 .callout.is-warning
		p Случайный текст выноски.
	.callout.is-info
		h4 .callout.is-info
		p Случайный текст выноски.