extends layout.pug

block content
	h1 Слайдер

	section
		.slider.slider-banner
			.slider-item: img(src="http://placeimg.com/1000/340/any/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/1000/340/nature/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/1000/340/tech", alt="")
			//- each item in sliderBanner
			//- 	.slider-item
			//- 		a(href=item.link): img(src='/img/banner/' + item.nameImg, alt="")
	section
		.slider.slider-img
			.slider-item: img(src="http://placeimg.com/200/100/nature", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/people", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/tech", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/nature/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/tech/grayscale", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/animals/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/arch/sepia", alt="")
			.slider-item: img(src="http://placeimg.com/200/100/nature/sepia", alt="")