extends layout.pug

block content

	h2 Заголовки

	h1 Заголовок первого уровня
	h2 Заголовок второго уровня
	h3 Заголовок третьего уровня
	h4 Заголовок четвёртого уровня
	h5 Заголовок пятого уровня
	h6 Заголовок шевтого уровня

	h1 Заголовок + <small>уменьшенный текст</small>
	h2 Заголовок + <small>уменьшенный текст</small>
	h3 Заголовок + <small>уменьшенный текст</small>
	h4 Заголовок + <small>уменьшенный текст</small>
	h5 Заголовок + <small>уменьшенный текст</small>
	h6 Заголовок + <small>уменьшенный текст</small>

	h2 Абзацы

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore optio magnam, eos officiis dolores eius similique saepe unde beatae quis. Corrupti incidunt porro officiis repellat, autem facere amet esse ducimus et deleniti adipisci reprehenderit ea! Consectetur voluptatem quidem nihil ratione.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit fugiat porro tempore odio, molestias velit ab vitae necessitatibus accusamus rerum neque cum atque natus, nisi aspernatur placeat distinctio saepe delectus!

	h2 Списки
	ul
		li Lorem ipsum dolor sit amet.
		li Lorem ipsum dolor sit amet.
		li Lorem ipsum dolor sit amet.
			ul
				li Lorem ipsum dolor sit amet, consectetur.
				li Lorem ipsum dolor sit amet, consectetur.
				li Lorem ipsum dolor sit amet, consectetur.
		li Lorem ipsum dolor sit amet.
	ol
		li Lorem ipsum dolor sit amet.
		li Lorem ipsum dolor sit amet.
		li Lorem ipsum dolor sit amet.
			ol
				li Lorem ipsum dolor sit amet, consectetur.
				li Lorem ipsum dolor sit amet, consectetur.
				li Lorem ipsum dolor sit amet, consectetur.
		li Lorem ipsum dolor sit amet.
