/*!-----------------------------------------------------------------
   Сетка
 ------------------------------------------------------------------*/
// debug()
*
*:before
*:after
	box-sizing border-box

.l-page-width
	max-width 960px
	// max-width 1330px
	margin 0 auto
	padding 0 leftRightPaddingPage
	clearfix()
	+mema(4)
		padding 0 leftRightPaddingPageMobile

.l-col3-4
	column(3/4)
	+mema(2)
		stack($pad:0, align:false)
.l-col1-4
	column(1/4)
	+mema(2)
		stack($pad:0, align:false)
.l-col2-4
	column(2/4)
	+mema(2)
		stack($pad:0, align:false)
.l-col2
	column(1/2)
	+mema(2)
		stack($pad:0, align:false)
.l-col4
	column(1/4, $cycle: 4)
	+mema(3)
		column(1/2, $cycle:2)
	+mema(2)
		stack($pad:0, align:false)
.l-col3
	column(1/3, $gutter:2)
	+mema(2)
		stack($pad:0, align:false)



