/*!-----------------------------------------------------------------
  Стили для страниц
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	index.pug
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	form.pug
 -----------------------------------------------------------------*/
.l-inline-switch
	display flex
	> .switch
		margin 0 10px 0 0
/*!-----------------------------------------------------------------
	404.pug
 -----------------------------------------------------------------*/
.l-page-404
	font-size: 3.5rem
	font-weight: 600