/*!-----------------------------------------------------------------
  Стили для страниц
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	layout.pug
 -----------------------------------------------------------------*/
// прижатый футер к низу
html, body
	height: 100%

body
	display: flex
	min-height: 100vh
	flex-direction: column

#l-content
	flex: 1

// отступ в центре страницы
.l-page-width
	padding 0 15px
	max-width: 960px
	margin: 0 auto

#l-header
	&-menu
		background-color: rgba(10, 31, 41, 0.8)
		.nav
			position relative
			margin-left: -10px
			+below(m)
				display none
		.hamburger
			float right
			display none
			margin-top 5px
			cursor pointer
			+below(m)
				display inline-block
	&-title
		padding 7px 0
		.l-page-width
			display flex
			justify-content flex-start
			align-items center
		img
			margin-right: 20px
		h2
			font-size: 1.7rem
			margin: 0 0 5px 0
		p
			font-size 1.3rem
			font-style: italic
	&-breadcrumb
		background-color: #eceeef
	// height 100px

// #l-content
// 	padding: 0 15px

#l-footer
	.l-page-width
		padding-top:15px
		padding-bottom 15px
		display flex
		justify-content space-between




pageCenterWidthh = 960px

.l-center
	margin 0 auto
	max-width pageCenterWidthh

foo()
	.bar
		{block}

+foo()
	width 10px


.l-wrap-2
	center(960px)
.l-col3
	column(1/3)
.l-col3:last-child
	move(1/3)
	+below(m)
		unmove()

.l-wrap-flex
	// center(960px)
	max-width 960px
	margin 0 auto
	display flex
	justify-content: space-between
	flex-wrap: wrap
.l-col4-flex
	width: column-width(1/4, $gutter:2)
	+below(m)
		width: column-width(1/2)
	+below(400px)
		width: 100%
.wrap
	center(960px)
.l-col4
	// column(1/4)
	column(1/4, $gutter: 2)
	+below(m)
		column(1/2, $cycle:2)
	+below(400px)
		stack($pad:0, align:false)
.l-col-1-6
	column(1/6, $gutter: 0)
	+below(m)
		display none
.l-col-5-6
	column(5/6, $gutter: 0)
	+below(m)
		stack($pad:0, align:false)
.l-col-offset-5-6
	column(5/6, $gutter: 0, $offset: 1/6)
	+below(m)
		stack($pad:0, align:false)
.align-wrap
	position relative
	height 100px
	background: red
.align-block
	align()
	p
		padding-bottom: 0
		margin 0
// .l-col4:last-child
// 	column(1/4, $offset: 1/4)

// стрелка наверх
#l-top-scroll
	height 50px
	width 50px
	position fixed
	bottom 50px
	right 50px
	background #000
	color #fff
	font-size: 40px
	text-align center
	line-height: 50px
/*!-----------------------------------------------------------------
	index.pug
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	404.pug
 -----------------------------------------------------------------*/
.page-404
	font-size: 3.5rem
	font-weight: 600