/*!-----------------------------------------------------------------
  Стили для страниц
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	index.pug
 -----------------------------------------------------------------*/
/*!-----------------------------------------------------------------
	404.pug
 -----------------------------------------------------------------*/
.l-page-404
	font-size: 3.5rem
	font-weight: 600