/*!-----------------------------------------------------------------
	.alert - модуль предупреждений
 -----------------------------------------------------------------*/
.alert
	padding: .75rem 2rem .75rem 1.25rem
	margin-bottom: 1rem
	border: 1px solid $isSecondary.borderColor
	border-radius: $borderRadius
	position: relative
	color: $isSecondary.color
	> .fa-close
		color $isSecondary.borderColor
		cursor: pointer
		position absolute
		transform-style: preserve-3d
		top: 50%
		right 1rem
		transform: translate(0%, -50%)
	&.is-success
		background-color: $isSuccess.bgColor
		border-color: @background-color
		color: $isSuccess.color
		span.fa-close
			color $isSuccess.borderColor
	&.is-info
		background-color: $isInfo.bgColor
		border-color: @background-color
		color: $isInfo.color
		span.fa-close
			color $isInfo.borderColor
	&.is-warning
		background-color: $isWarning.bgColor
		border-color: @background-color
		color: $isWarning.color
		span.fa-close
			color $isWarning.borderColor
	&.is-danger
		background-color: $isDanger.bgColor
		border-color: @background-color
		color: $isDanger.color
		span.fa-close
			color $isDanger.borderColor

