/*!-----------------------------------------------------------------
  .btn - модуль кнопки
 -----------------------------------------------------------------*/
.btn
	cursor: pointer
	border-radius $borderRadius
	text-decoration none
	display: inline-block
	font-weight: normal
	line-height: 1.25
	text-align: center
	white-space: nowrap
	// vertical-align: middle
	user-select: none
	border: 1px solid transparent
	padding: 0.38rem .8em
	font-size: 1rem
	transition: all 0.2s ease-in-out
	color: #fff

	&.is-disable
	&[disabled]
		opacity .65
		cursor default

	&:focus, &.is-focus
		outline: 0
		box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25)
	&:focus, &:hover
		text-decoration: none
		color #fff

	&.is-success
		background-color: $isSuccess.bgColor
		&:hover
			background-color: $isSuccess.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isSuccess.bgColor
	&.is-info
		background-color: $isInfo.bgColor
		&:hover
			background-color: $isInfo.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isInfo.bgColor
	&.is-warning
		background-color: $isWarning.bgColor
		&:hover
			background-color: $isWarning.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isWarning.bgColor
	&.is-danger
		background-color: $isDanger.bgColor
		&:hover
			background-color: $isDanger.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isDanger.bgColor
	&.is-primary
		background-color: $isActive.bgColor
		&:hover
			background-color: $isActive.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isActive.bgColor
	&.is-secondary
		border: 1px solid $isSecondary.borderColor
		color: $isSecondary.color
		background-color: $isSecondary.bgColor
		&:hover
			background-color: $isSecondary.bgColorHover
		&.is-disable:hover
		&[disabled]:hover
			background-color: $isSecondary.bgColor




