/*!-----------------------------------------------------------------
  .hamburger - модуль показа меню на маленьких экранах
 -----------------------------------------------------------------*/
.hamburger
	font-size 1.7rem !important
	color #fff
	display none
	cursor pointer
	+mema(sizeMedium)
		display inline-block
	&.fa
		display none