/*!-----------------------------------------------------------------
	Классы состояния
 -----------------------------------------------------------------*/
/*!
	Состояние элементов
	Для работы pointer-events: none в id 9-10
	нужен полифил pointer_events_polyfill.js
*/
[disabled]
.is-disable
.is-active
	pointer-events: none
	cursor: not-allowed
/*!
	Видимость элементов
*/
.is-toggle
	overflow visible
.is-hide
	display none !important
.is-show
	display block !important
.is-invisible
	visibility hidden !important
/*!
	Вид элементов:
*/
.is-primary // главный
.is-secondary // дополнительный
.is-info // информация
.is-danger // опасно
.is-success // успех
.is-warning // предупреждение
.is-error // ошибка
	overflow visible
/*!
	Расположение элементов
*/
.is-inline // в линию
.is-left // левo
.is-right // право
.is-up // сверхку
.is-down // снизу
.is-center // по центру
	overflow visible
/*!
	Размер элементов
*/
.is-normal // нормальный размер
.is-small // маленький размер
.is-large // большой размер
	overflow visible
